{% extends 'base.html' %}

{% block content %}
<div class="row pt-5 pb-5 justify-content-center">
    <div class="col-md-5">
        <div class="card shadow border-0 rounded-3">
            <div class="card-header bg-primary text-white text-center py-3 rounded-top">
                <h3 class="mb-0">Secure Login</h3>
            </div>
            <div class="card-body p-4 bg-light">
                <form action="{{ url_for('login') }}" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label fw-bold">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>

                    <div class="mb-4">
                        <label for="password" class="form-label fw-bold">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <div class="d-grid mt-2">
                        <button type="submit" class="btn btn-primary btn-lg shadow-sm">Login</button>
                    </div>

                    <div class="mt-3 text-center">
                        <p class="text-muted">Don't have an account? <a href="{{ url_for('register') }}">Register
                                here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}